<!DOCTYPE html>
<body>
    <div class="col-sm-12">
        <div class="panel panel-default">
        <div class="panel-heading">Search by condition</div>
        <div class="panel-body">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" ng-model="SearchModel.Name" placeholder="Search name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Employee ID</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" ng-model="SearchModel.EmployeeID" placeholder="Employee ID">
                </div>
            </div>    
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label style="padding-left:0px" class="control-label col-sm-3">Email</label>
                <div class="col-sm-9">
                  <input  class="form-control" type="text" ng-model="SearchModel.Email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label style="padding-left:0px" class="control-label col-sm-3">PhoneNumber</label>
                <div class="col-sm-9">
                  <input  class="form-control" type="text" ng-model="SearchModel.PhoneNumber" placeholder="PhoneNumber">
                </div>
            </div>
            <button style="text-align:right" type="button" class="btn btn-primary" ng-click="Search()">Search</button>
        </div>
        </div>
        </div>
    </div>
    <div class="col-sm-12">
            <button href="javascipt:void(0)" id="btnCreate" class="btn btn-primary" style="text-align:right" ng-click="ShowEmployee(0)">Create New Employee</button>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Result condition</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> EmployeeID </th>
                                <th> Name </th>
                                <th> Position </th>
                                <th> Email </th>
                                <th> Phone Number </th>
                                <th> Address </th>
                                <th> Salary </th>
                                <th> Bonus </th>
                                <th> Starting Date </th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody ng-if="employees.length > 0">
                            <tr ng-repeat="employee in employees">
                                <td ng-bind="$index + 1"></td>
                                <td>
                                    <a href="javascript: void(0)" ng-bind="employee.EmployeeID"  ng-click="ShowEmployee(employee.EmployeeID)">
                                    </a>
                                </td>
                                <td ng-bind="employee.Name"></td>
                                <td ng-bind="employee.Position"></td>
                                <td ng-bind="employee.Email"></td>
                                <td ng-bind="employee.PhoneNumber"></td>
                                <td ng-bind="employee.Address"></td>
                                <td ng-bind="employee.Salary |number : 0"></td>
                                <td ng-bind="employee.Bonus"></td>
                                <td ng-bind="employee.StartingDate"></td>
                                <td>
                                    <a href="javascript: void(0)" ng-click="Delete(employee.EmployeeID)">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="employees.length == 0" class="text-center">
                            <tr>
                                <td colspan="10" class="text-center">
                                    Không tìm thấy kết quả phù hợp
                                </td>
                            </tr>
                        </tbody>
                    </table>
               </div>  
            </div>
        </div>
    </div>
</body>
</html>