<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../fingerprint/site/Images/image1.jpg" alt="Module R307" style="width:100%;">
        <div class="carousel-caption">
          <h3>Module R307</h3>
          <p> Quét vân tay đơn giản!</p>
        </div>
      </div>
      <div class="item">
        <img src="../fingerprint/site/Images/image2.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Khóa vân tay</h3>
          <p>Khóa vân tay rất nhỏ gọn và linh động khi sử dụng!</p>
        </div>
      </div>
      <div class="item">
        <img src="../fingerprint/site/Images/image3.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Mô hình hệ thống vân tay trong văn phòng</h3>
          <p>Khi sử dụng hệ thống vân tay trong văn phòng, khóa vân tay sẽ đặt chỗ ra vào tiện cho việc quản lý nhân viên!</p>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>