
<body>
    <div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                    <div class="panel-heading">Search by condition</div>
                    <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="col-sm-3">
                            <select  class="col-sm-3 form-control" ng-model="SearchModel.Month">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">May</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>   
                        </div>
                        <div class="col-sm-3">
                            <select  class="col-sm-3 form-control" ng-model="SearchModel.Year" ng-options="year for year in years"></select>
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label class="control-label col-sm-2"> Name </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="SearchModel.Name" placeholder="Search name">
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                         <button type="button" class="btn btn-primary" ng-click="Search()">Search</button>
                    </div>
            </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Result Search</div>
                <div class="panel-body">
                 <table class="table">
                     <thead>
                        <tr>
                            <th>#</th>  
                            <th>  Name  </th>
                            <th>  Position </th>  
                            <th>  Salary </th>
                            <th>  Bonus </th>
                            <th>  Total</th>
                        </tr>
                     </thead>
                     <tbody ng-if="Salarys.length > 0">
                        <tr ng-repeat="Salary in Salarys">
                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="Salary.Name"></td>
                            <td ng-bind="Salary.Position"></td>
                            <td ng-bind="Salary.Salary | number : 0"></td>
                            <td ng-bind="Salary.Bonus"></td>
                            <td ng-bind="Salary.Bonus  + Salary.Salary"></td>
                        </tr>
                      </tbody>      
                      <tbody ng-if="Salarys.length == 0" class="text-center">
                            <tr>
                                <td colspan="6" class="text-center">
                                    Không tìm thấy kết quả phù hợp
                                </td>
                            </tr>
                      </tbody>
                </table>
                </div>
        </div>
        </div>
</body>

</html>