<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body>
    <div class="table" ng-app="Fingerprint" ng-controller="SalaryController">
        <div>
         <select ng-model="selectedMonth" ng-options="month for month in months"></select>   
         <select ng-model="selectedYear" ng-options="year for year in years"></select>
        </div> 
        <div><input type="text" ng-model="test" placeholder="Search name"></div>
        <table class="table">
            <tr>
                <th>  ID   </th>  
                <th>  Name  </th>
                <th>  Room </th>  
                <th>  Salary </th>
            </tr>
            <tr ng-repeat="employee in employees | filter : test">
                <td>{{ $index + 1 }}</td>
                <td>{{ employee.Name }}</td>
                <td>{{ employee.Room }}</td>
                <td>{{ employee.Salary }}</td>
            </tr>
        </table>
    </div>
</body>

</html>